:root {
  /* Var imagen principal */
  --imagen-principal-pagina: url("../img/fondo.jpg");
  /* Var display general (body o main de ultima) */
  --display-general-pagina: grid;
  /* Display secundario de contenedores secundarios a body o main */
  --display-contenedores-secundarios: flex;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* Aplico la variable de imagen principal con background imagen */
  background-image: var(--imagen-principal-pagina);
  /* aplico el resto de propiedades de forma normal */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuNav {
  background-color: #051955;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuNav .imagenLogo {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.menuNav ul {
  cursor: pointer;
  list-style-type: none;
  padding: 10px 10px;
  /* margin: auto; */
}
.menuNav li, .menuNav a {
  text-decoration: none;
  color: #FC8D00;
  padding: 10px 10px 10px;
  text-transform: uppercase;
}
.menuNav .menuNav li {
  display: inline-block;
  font-weight: 50px;
}

.presentacionPagina {
  background-image: url(../img/-12.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.presentacionPagina:hover {
  backdrop-filter: blur(10px);
}
.presentacionPagina .imagenIndex1 {
  object-fit: contain;
  width: 720px;
  border-radius: 7px;
}
.presentacionPagina .textoPresentacion {
  font-size: 3rem;
  text-transform: uppercase;
  color: #FC8D00;
  letter-spacing: 2px;
}
.presentacionPagina .botonHagamosTuIdeaRealidad {
  background-color: #FC8D00;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: orangered;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
  border-radius: 5px;
  transform: scale(1, 1);
  transition: transform 0.5s;
}
.presentacionPagina .botonHagamosTuIdeaRealidad:hover {
  background-color: #c89859;
  cursor: pointer;
}
.presentacionPagina .botonHagamosTuIdeaRealidad:active {
  background-color: #fc5800;
  color: #5e3500;
  transform: scale(0.97, 0.97);
}

.primerArticulo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.primerArticulo .primerArticuloh2 {
  color: #FC8D00;
  font-size: 3rem;
  text-align: center;
}
.primerArticulo .primerArticulop {
  color: #FC8D00;
}

.segundoArticulo {
  display: flex;
  flex-wrap: wrap;
}
.segundoArticulo .tituloConocenos {
  font-size: 4rem;
  text-align: center;
  margin: auto;
  color: #FC8D00;
}
.segundoArticulo .parrafoConocenos {
  color: #fc5800;
  font-size: 1.5rem;
  padding: 50px;
}
.segundoArticulo .botonesConocenos {
  display: flex;
  justify-content: center;
  margin: 0px 10px;
  width: 100%;
}
.segundoArticulo .botonesConocenos .segundoArticulo input {
  height: 10vh;
  width: 10vw;
  color: #FC8D00;
  background-color: #5f3702;
  box-shadow: 6px 5px 24px #2b1801;
  border-radius: 5px;
  border-style: groove;
  font-size: 1rem;
}
.segundoArticulo .botonesConocenos .segundoArticulo input:active {
  background-color: #fc5800;
  color: #5e3500;
}
.segundoArticulo .botonesConocenos .segundoArticulo input:hover {
  background-color: #c89859;
  cursor: pointer;
}

.tituloDondeEstamos {
  color: red;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
}

.cuartoArticulo {
  display: flex;
  margin: auto;
}
.cuartoArticulo .formularioIndex {
  border: 1px #FC8D00 outset;
  background-color: #5f3702;
  margin-left: 20px;
  border-radius: 10px;
  /* height:fit-content;  no hace falta la maoyria del tiempo poner height y dejar que se autoajuste*/
  width: 400px;
  display: flex;
  flex-direction: column;
}
.cuartoArticulo .formularioIndex h2 {
  font-size: 4rem;
  color: #FC8D00;
  text-align: center;
  margin: 10px;
  padding: 10px;
  content: 10px;
}
.cuartoArticulo .formularioIndex input,
.cuartoArticulo .formularioIndex select,
.cuartoArticulo .formularioIndex h3,
.cuartoArticulo .formularioIndex p {
  margin: 5px;
}
.cuartoArticulo .formularioIndex .botonEnviar {
  width: 120px;
  height: 50px;
}
.cuartoArticulo .formularioIndex .botonResetear {
  float: right;
}

footer {
  display: flex;
  background-color: #051955;
  border: #020c28 4px double;
}
footer img {
  width: 50px;
  height: 50px;
}
footer a {
  height: 50px;
}

@media (max-width: 1200px) {
  .imagenIndex1 {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .textoPresentacion {
    font-size: 1.5rem;
    text-align: center;
  }
  .botonHagamosTuIdeaRealidad {
    font-size: 50%;
  }
  .primerArticulo {
    margin: 5px;
  }
  .primerArticuloh2 {
    font-size: 1.5rem;
  }
  .primerArticulop {
    text-align: center;
  }
  .imagenIndex1 {
    display: block;
    width: 85%;
    margin: auto;
  }
  .botonesConocenos {
    display: flex;
    justify-content: center;
    width: 10px;
    font-size: inherit;
  }
  .tituloDondeEstamos {
    font-size: inherit;
  }
  .cuartoArticulo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  .formularioIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  .formularioIndex h3,
  p,
  h2,
  input {
    width: 100%;
  }
  .cuartoArticulo h2 {
    font-size: 2rem;
  }
  .mapaDondeEstamos {
    margin: 2px;
  }
  .footerIndex {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .presentacionPagina {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentacionPagina .botonHagamosTuIdeaRealidad {
    font-size: 1rem;
    width: 75%;
    align-self: center;
    margin-left: 10px;
  }
  .primerArticulo {
    display: flex;
    flex-direction: column;
  }
  .cuartoArticulo {
    width: 95%;
  }
  .cuartoArticulo .formularioIndex {
    margin-right: 3vw;
    margin-top: 20px;
    width: 300px;
    height: 500px;
  }
  .cuartoArticulo .formularioIndex h2 {
    font-size: 2rem;
  }
  .cuartoArticulo .formularioIndex input {
    height: 5%;
    width: 100%;
  }
  .cuartoArticulo .formularioIndex h3 {
    height: 5%;
    width: 100%;
    font-size: 0.2rem;
  }
  .cuartoArticulo .formularioIndex select {
    height: 5%;
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
