.presentacionPagina {
    background-image: $bg--pagina;
    background-size: cover;
    height: 90vh;
    width: 100%;

    &:hover {
        backdrop-filter: blur(10px);
    }

    

    .textoPresentacion {
        font-size: 3rem;
        text-transform: uppercase;
        color: #FC8D00;
        letter-spacing: 2px;
    }

    .botonHagamosTuIdeaRealidad {
        background-color: #FC8D00;
        box-shadow: 6px 5px 24px #666666;
        font-family: Arial;
        color: orangered;
        font-size: 27px;
        padding: 19px;
        text-decoration: none;
        border-radius: 5px;
        transform: scale(1,1);
        transition: transform 0.5s;
        &:hover {
            background-color: #c89859;
            cursor: pointer;
        }
        
        &:active {
            background-color: #fc5800;
            color: #5e3500;
            transform: scale(0.97,0.97);
        }
    }
}

.primerArticulo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .imagenIndex1 {
        object-fit: contain;
        width: 720px;
        border-radius: 7px;
    }
    

    .primerArticuloh2 {
        color: #FC8D00;
        font-size: 3rem;
        text-align: center;
    }

    .primerArticulop {
        color: #FC8D00;
    }

}

.segundoArticulo {
    display: flex;
    flex-wrap: wrap;
    .tituloConocenos {
        font-size: 4rem;
        text-align: center;
        margin: auto;
        color: #FC8D00;
    }

    .parrafoConocenos {
        color: #fc5800;
        font-size: 1.5rem;
        padding: 50px;
    }

    .botonesConocenos {
        display: flex;
        justify-content: center;
        margin: 0px 10px;
        width: 100%;

    .segundoArticulo input {
        height: 10vh;
        width: 10vw;
        color: #FC8D00;
        background-color: #5f3702;
        box-shadow: 6px 5px 24px #2b1801;
        border-radius: 5px;
        border-style: groove;
        font-size: 1rem;
        &:active {
            background-color: #fc5800;
            color: #5e3500;
        }
        
        &:hover {
            background-color: #c89859;
            cursor: pointer;
    }
}
}
}
.tituloDondeEstamos {
    
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}
.cuartoArticulo {
 
    display: flex;
    margin: auto;
    
    .formularioIndex {
    @include formularios;
}
}

