@media (max-width:1200px) {

    /*Media queries para index*/
    .imagenIndex1 {
        width: 85%;
    }

    /*Media queries para photography*/
    .primero {
        margin-left: 4px;
    }
    .card{
        width:100%;
    }
}

@media (max-width: 768px) {

    /*Media queries para index*/
    .textoPresentacion {
        font-size: 1.5rem;
        text-align: center;
    }

    .botonHagamosTuIdeaRealidad {
        font-size: 50%;
    }

    .primerArticulo {
        margin: 5px;
    }

    .primerArticuloh2 {
        font-size: 1.5rem;
    }

    .primerArticulop {
        text-align: center;
    }

    .imagenIndex1 {
        display: block;
        width: 85%;
        margin: auto;

    }

    .botonesConocenos {
        display: flex;
        justify-content: center;
        width: 10px;
        font-size: inherit;
    }

    .tituloDondeEstamos {
        font-size: inherit;
    }

    .cuartoArticulo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
    }

    .formularioIndex {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
    }

    .formularioIndex h3,
    p,
    h2,
    input {
        width: 100%;
    }

    .cuartoArticulo h2 {
        font-size: 2rem;
    }

    .mapaDondeEstamos {
        margin: 2px;
    }

    .footerIndex {
        width: 100%;
    }

    /*Media queries para photography*/
    .textoUbicaciones {
        font-size: 1rem;

    }
    .card{
    width:100%;
}
/*Media queries para opinions*/
.formularioOpinions{
    h2{
        font-size: 1.3rem;
    }
}

}

@media (max-width: 576px) {

    /*Media queries para index*/
    .presentacionPagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        .textoPresentacion{
            font-size: 1.2rem;
        }

        .botonHagamosTuIdeaRealidad {
            font-size: 1rem;
            width: 75%;
            align-self: center;
            margin-left: 10px;
            
        }
    }
    
    .primerArticulo {
        display: flex;
        flex-direction: column;
    }
    .primerArticuloh2{
        font-size: 0.5rem;
    }

    .cuartoArticulo {
        width: 95%;

        .formularioIndex {
            margin-right: 3vw;
            margin-top: 20px;
            width: 300px;
            height: 500px;

            h2 {
                font-size: 2rem;

            }

            input {
                @include textoTamReducido;

            }

            h3 {
                @include textoTamReducido;
                font-size: 0.2rem;
            }

            select {
                @include textoTamReducido;
            }
        }
    }
    
/*Media queries para photography*/
.card{
    width:100%;
}
/*Media queries para opinions*/
.primerVideo{
    .textoPrimerVideo{
margin: auto;
   
    h2{
        text-align: center;
        
    }
    p{
        text-align: center;
    }
}
}

}
