/*Estilizando photography*/
.articulo{
margin: 5px;
}
.textoUbicaciones{
    color: red;
    font-size: 3rem;
    text-align: center;
}
.primero{
    @include colorBloques;
}
.segundo{
    @include colorBloques;
}
.tercero{
    @include colorBloques;
}
