/*Estilizando photography*/
.cards {

    p {
        font-size: 0.80rem;
    }
}

.articulo {
    height: 450px;
    width: 300px;


}

.textoUbicaciones {
    color: red;
    font-size: 3rem;
    text-align: center;
}

.primero {
    @include colorBloques;
}

.segundo {
    @include colorBloques;
}

.tercero {
    @include colorBloques;
}

/*Estilizando video*/
.card {
    object-fit: scale-down;
}

/*Estilizando opinions*/
.formularioOpinions {
    border: 1px $letras--naranjas outset;
    background-color: #5f3702;
    width: 400px;

    h2 {
        color: blue;
    }
}
/*Estilizando opinions*/
.primerVideo{
    h2{
        margin-left: 5px;
        color: rgb(223, 88, 39);
    }
    p{
        margin-left: 5px;
        color: rgb(223, 88, 39);
    }
}
.formularioOpinions{
    label{
        color: rgb(223, 88, 39);
    }
    input{
        color: rgb(223, 88, 39);
    }
    button{
        color: rgb(223, 88, 39);
    }
}